
export(auto_SA)
export(closest_weekday)
export(previous_weekday)
export(which_is_equal)
export(MonthDays)
export(end_of_month)
export(end_next_month)
export(end_previous_month)
export(first_of_month)
export(end_of_quarter)
importFrom(Rcpp,evalCpp)
importFrom(stats,loess)
importFrom(stats,median)
importFrom(stats,model.matrix)
importFrom(stats,na.exclude)
importFrom(stats,optim)
importFrom(stats,predict)
importFrom(stats,var)
importFrom(utils,head)
importFrom(utils,tail)
useDynLib(seasonality)
