
export(auto_SA)
importFrom(Rcpp,evalCpp)
importFrom(stats,loess)
importFrom(stats,median)
importFrom(stats,model.matrix)
importFrom(stats,na.exclude)
importFrom(stats,optim)
importFrom(stats,predict)
importFrom(stats,var)
importFrom(utils,head)
importFrom(utils,tail)
useDynLib(seasonality)
